{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h4>Hey, {{ current_user.username }}!</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="" class="justify-content-start" method="POST">
            {{ username_form.csrf_token }}
            <div class="form-group">
                {{ username_form.username.label(class="form-control-label") }}
                {{ username_form.username(class="form-control form-control-lg") }}

                {% if username_form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in username_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <span class="float-right">
                {{ username_form.submit(class="btn btn-outline-success") }}
            </span>
        </form>
    </div>
</div>
<a href="{{ url_for('notes.user_detail', username=current_user.username) }}">
    <h4><strong>See Activity</strong></h4>
</a>
{% endblock %}>