{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="card my-2">
        <div class='card-body'>
            <div class="media-body">
                <h5>
                    <div>
                        <b>Class: </b> {{ result.class_name }}
                    </div>
                    <p></p>
                    <b>Title: </b>
                    <a href="{{ url_for('notes.notes_detail', notes_id=result.id) }}">
                        {{ result.title }}
                    </a> 
                    <div class='float-right'>
                        {{ result.date }}
                    </div>
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}