{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
        <div class="col">
            <form action="" method="post" enctype="multipart/form-data"> 
                {{ notes_form.csrf_token }}
                <div class="form-group">
                    {{ notes_form.class_name.label }}
                    {{ notes_form.class_name(class="form-control") }}
    
                    {% if notes_form.class_name.errors %}
                    <div class="alert alert-warning" role="alert">
                    {% for error in notes_form.class_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {{ notes_form.csrf_token }}
                <div class="form-group">
                    {{ notes_form.title.label }}
                    {{ notes_form.title(class="form-control") }}

                    {% if notes_form.title.errors %}
                    <div class="alert alert-warning" role="alert">
                    {% for error in notes_form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ notes_form.file.label }}
                    {{ notes_form.file(class="form-control") }}

                    {% if notes_form.file.errors %}
                    <div class="alert alert-warning" role="alert">
                    {% for error in notes_form.file.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div>
                    {{ notes_form.submit_pic(class="btn btn-outline-success") }}
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <a class="nav-link" href="{{ url_for('notes.user_detail', username=current_user.username)}}">
        <strong>See Activity</strong>
    </a>
</div>
{% endblock %}